<mat-sidenav-container>
	<mat-sidenav mode="over" #sidenav>
		<mat-nav-list>
			<mat-list-item fxLayout fxLayoutAlign="flex-end">
				<button mat-icon-button color="warn" (click)="sidenav.toggle()">
					<mat-icon>close</mat-icon>
				</button>
			</mat-list-item>
			<mat-list-item>
				<a>Hello</a>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
			<button mat-icon-button (click)="sidenav.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
			<span>ngPokédex</span>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

