<h2>Search for a Pokémon</h2>

<div fxLayout="row" fxLayout.lt-sm="column">
	<div class="search-container">
		<form [formGroup]="searchForm">
			<mat-form-field>
				<input matInput formControlName="name" type="text" placeholder="Pokémon Name">
			</mat-form-field>
		</form>
		
		<button 
			type="button" 
			mat-raised-button 
			color="accent"
			[disabled]="!searchForm.value.name.length" 
			(click)="onSearch()">
			Search
		</button>
	</div>
	<div *ngIf="pokemon && !notFound">
		<dex-pokemon-info [pokemon]="pokemon"></dex-pokemon-info>
	</div>
	<div *ngIf="notFound" class="result-container">
		<h3>ngPokédex is confused!</h3>
		<p>Sorry, that Pokémon could not be found. Please search again.</p>
	</div>
</div>