<h2>Search for a Pokémon</h2>

<div fxLayout="row" fxLayout.lt-sm="column">
	<div class="search-container">
		<form [formGroup]="searchForm">
			<mat-form-field>
				<input matInput 
							 formControlName="name" 
							 type="text" 
							 placeholder="Pokémon Name"
							 (keydown.enter)="onSearch()">
			</mat-form-field>
		</form>
		
		<button 
			type="button" 
			mat-raised-button 
			color="accent"
			[disabled]="!searchForm.value.name.length" 
			(click)="onSearch()">
			Search
		</button>
	</div>
	<div *ngIf="pokemon && !notFound">
		<dex-pokemon-info [pokemon]="pokemon"></dex-pokemon-info>
	</div>
	<mat-card *ngIf="notFound" class="result-container">
		<mat-card-header>
			<img mat-card-avatar [src]="questionMark">
			<mat-card-title>ngPokédex is confused!</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>Sorry, that Pokémon could not be found. Please search again.</p>
		</mat-card-content>
	</mat-card>
</div>